*{
    font-family: "Montserrat", sans-serif;
}


:root {
    --bs-primary: #ff0000; /* Cambia il colore primario */
    --bs-secondary: #00ff00; /* Cambia il colore secondario */
    --bs-success: #0000ff; /* Cambia il colore di successo */
    --bs-info: rgb(255 237 0); /* Cambia il colore delle informazioni */
    --bs-warning: #ff00ff; /* Cambia il colore di avviso */
    --bs-danger: #00ffff; /* Cambia il colore di pericolo */
    --bs-light: #808080; /* Cambia il colore chiaro */
    --bs-dark: #c0c0c0; /* Cambia il colore scuro */
  }

  .bg-primary {
    background-color: var(--bs-primary) !important;
  }

  .bg-secondary {
    background-color: var(--bs-secondary) !important;
  }

  .bg-success {
    background-color: var(--bs-success) !important;
  }

  .bg-info {
    background-color: var(--bs-info) !important;
  }

  .bg-warning {
    background-color: var(--bs-warning) !important;
  }

  .bg-danger {
    background-color: var(--bs-danger) !important;
  }

  .bg-light {
    background-color: var(--bs-light) !important;
  }

  .bg-dark {
    background-color: var(--bs-dark) !important;
  }
